<?xml version="1.0" encoding="utf-8"?>

<!--
  ASP.NET 응용 프로그램을 구성하는 방법에 대한 자세한 내용은 다음을 참조하세요.
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2"/>
    <httpRuntime targetFramework="4.7.2"/>
    <customErrors mode="Off"/>
  </system.web>
  <!-- Put Database Connection String Here -->
  <connectionStrings>
    <add name="cnn"
      connectionString="Data Source=SQL5045.site4now.net;Initial Catalog=DB_A4E2E3_viekoreadb;User Id=DB_A4E2E3_viekoreadb_admin;Password=!ase@346ANK;"
      providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>

</configuration>
